* {
box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.8rem;
    background-color: #fff9ff;
    margin: 0;
    padding-left: 1rem;
}

a {
    color: black;
}

div {
    width: 250px;
}

.profile {
    text-align: center;
}

.profile td {
    border: 1px solid black;
}

.contact td {
    padding: 0px;
    text-align: left;
}